Build/iOS/FC/build/
Build/OSX/FC/build/
Build/iOS/FC/FC.xcodeproj/project.xcworkspace/
Build/iOS/FC/FC.xcodeproj/xcuserdata/
Build/OSX/FC/FC.xcodeproj/project.xcworkspace/
Build/OSX/FC/FC.xcodeproj/xcuserdata/
*.DS_Store
/doc/